<cpt-config>

  <!-- 
  
  SAMPLE cpt.config file
  
  Here you can specify configuration options for ClangPowerTools
  IMPORTANT: There can be ONLY ONE option set in each <option> element 
  
  This file has to be put in your codebase directory hierarchy (top level).
  clang-build.ps1 will automatically pick it up.
  
  -->

  <option>clang-flags @( "-Werror"
                    , "-Wall"
                    , "-fms-compatibility-version=19.10"
                    , "-Wmicrosoft"
                    , "-Wno-invalid-token-paste"
                    , "-Wno-unknown-pragmas"
                    , "-Wno-unused-value"
                    ) </option>
  
  <option>dir Get-Location</option>
  
  <option>header-filter '.*'</option>
  
  <option>parallel</option>
			  
  <option>treat-sai</option>
  
  <option>vs-sku 'Professional'</option>
  
</cpt-config>
