<cpt-config>

  <!--

  Clang Power Tools configuration file (SAMPLE)

  Using cpt.config you can specify configuration options for ClangPowerTools,
  allowing your entire team to share a single CPT configuration.

  This file just has to be put in your codebase directory hierarchy's top level and
  it'll be automatically picked up.

  All clang-build.ps1 parameters are accepted, either full name or alias, as XML elements.

  -->

  <clang-flags>  "-Werror"
               , "-Wall"
               , "-fms-compatibility-version=19.10"
               , "-Wmicrosoft"
               , "-Wno-invalid-token-paste"
               , "-Wno-unknown-pragmas"
               , "-Wno-unused-value"
  </clang-flags>

  <header-filter>'.*'</header-filter>

  <parallel/>

  <treat-sai/>

  <!-- 
	  'vs-sku' tells ClangPowerTools to use a specific Visual Studio edition.
	  If you do not specify the 'vs-sku' parameter then ClangPowerTools will use 
	  the first detected edition by vswhere.
  -->
  <!-- <vs-sku>'Professional'</vs-sku> -->

</cpt-config>
